<nav class="nav-primary nav-aws">
    <ul>
    	
    {% for p in site.pages %}
        {% if p.cloud-service %}
    <li class="nav-aws">
        <a {% if p.url == page.url %}class="active" {% endif %} style="left:0;border:4" href="{{ site.baseurl }}{{ p.url }}">
            <div class="img-wrapper ">
                <img src="{{ site.baseurl }}{{ p.image }}" />
            </div>
            <div class="text-wrapper ">{{ p.title }}</div>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    
</nav>