<div class="nav-primary nav-home" style="display: inline-block;left:0; top:0; position:absolute; height: 300%; background-color: rgb(127,255,200); width:18%">
    <ul>
    	
    {% for p in site.pages %}
        {% if p.cloud-provider %}
    <li  style="height:58px;">
        <a href="{{ site.baseurl }}{{ p.url }}">
                <img src="{{ site.baseurl }}{{ p.image }}" style="height:58px;width:156px;margin:auto;"/>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    
</div>