{% include head.html %}

{% if page.submenu %}
<div style="display: block; position: fixed; width: 18%; height: 100%; top: 100px; left:0; border-right: 2px solid grey; background: rgb(215,215,215);">
            <h3 style="padding-top: 5px;">Contents</h3>
            <ul class="servicetoc" style=" padding-left: 15px; font-size: 12px;">
          {% for item in page.submenu %}
              <li><a href="#{{ item.hook }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        </div>
{% endif %}

<div style="display: inline-block; width:80%; top: 100px; position:absolute; left:18%; ">
    	<main role="main" >

        
        	{{ content }}
        	
    	</main>
    	

	

{% include foot.html %}