{% include head.html %}


    	<main role="main" style="display: inline; ">

        
        	{{ content }}
        	
    	</main>
    	
        {% if page.submenu %}
        <div style="display:block; position: fixed; width: 20%;">
                    <h3>Contents</h3>
                    <ul class="servicetoc" style="padding-left: 15px; font-size: 12px;">
                  {% for item in page.submenu %}
                      <li><a href="#{{ item.hook }}">{{ item.title }}</a></li>
                  {% endfor %}
                </ul>
                </div>
        {% endif %}
	
</div>
	

{% include foot.html %}